{% extends "layout.html" %}

{% block title %}
    Buy Premium
{% endblock %}

{% block main %}

<div class="premium">
  <br>
  <h2 class="prem">Want use new funtions? Use our Food database? Buy premium now. Today only for 20$</h2>
</div>
<div class="paypal">
        <script src="https://www.paypal.com/sdk/js?client-id=AYxCMsYx84WYQnHipFCA18N0W0wyC0Q_l7M5HRkMHvp7SxC9qucgxYIzAJjfz0OVMANpyn0xurGccYe8&currency=USD"></script>

        <div id="paypal-button-container"></div>

        <script>
          paypal.Buttons({
            style: {
    layout: 'horizontal',
    color:  'gold',
    shape:  'rect',
    label:  'paypal'
  },
            createOrder: function(data, actions) {

              var price = 20;
              var currency = 'USD';
        

              return actions.order.create({
                purchase_units: [{
                  amount: {
                    value: price,
                    currency: currency
                  }
                }]
              });
            },
            onApprove: function(data, actions) {

              return fetch('/update_payment', {
                  method: 'POST',
                  headers: {
                    'Content-Type': 'application/json'
                  },
                  body: JSON.stringify({
                    orderID: data.orderID,
                    payerID: data.payerID
                  })
                })
                .then(function(response) {

                  alert('Płatność została zrealizowana!');
                  console.log(response);
                })
                .catch(function(error) {
                  
                  alert('Płatność nie została zrealizowana!');
                  console.error(error);
                });
            }
          }).render('#paypal-button-container');
          
        </script>
        </div>
{% endblock %}